* {
box-sizing: border-box;
margin: 0;
padding: 0;


}
body {
    
}
/* -------HEADER------*/

.conteiner {
    display: flex;
    justify-content: space-between;
   align-items: center;
   max-width: 1130px;
   margin: 0 auto;
   
  
}



header{
    
    
}

.logo_with_nav {
    display: flex;
    align-items: center;
    gap: 24px
    ;
}




nav a{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-decoration: none;
    transition: color .3s ease;
    
}
nav{
    display: flex;
  
    gap: 24px;

}

nav a:hover{
    color: #f45d5d;
    transform: scale(1.05);
}


#button_blue{
    background-color: #0070A0;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 6px 20px;
    transition: background-color .3s ease;
  
}
#button_blue:hover {
    background-color: #7d8589;
}
.button a{
    text-decoration: none;
    color: #0070A0;
    font-family: "Open Sans", sans-serif;
    transition: color .3s ease;
}

.button a:hover{
    color: #f45d5d;
    transform: scale(1.05);
}
.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 31px;
}



/*-------BLOCK_CONTENT------*/


.block_content{
    display: flex;
    justify-content: space-between;
    max-width: 1130px;
    margin: 0 auto;
    margin-top: 70px;
}


.text_information button{
    background-color: #0070A0;
    padding: 8px 32px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #fff;
    border: none;
 
    gap: 24px;
}
.text_information a{
    text-decoration: none;
    margin-left: 24px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}
.text_information h1{
    font-family: "Fraunces", serif;
    font-size: 58px;
    font-weight: normal;
    margin-bottom: 0;
}
.text_information p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 29px;
   
}

.images_stiker img {
    width: 100%;
    height: auto;
}

/*-------------PARTNERS_BLOCK-----------------*/
.partners_block {
    max-width: 1130px;
    margin: 0 auto;

}





.partners_block h2 {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 24px;

}

.images_partners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


/* -------CONTEINER_three_BLOCK------*/
.three_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1130px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 120px;
}



.yellow_block {
    /* width: 355px;
    height: 250px; */
    background-color: #FAEA73;
   
   
}
.blue_block {
    /* width: 355px;
    height: 250px; */
    background-color: #CCEFF6;
    
}
.pink_block {
    /* width: 355px;
    height: 250px; */
    background-color:#F7CEDC;
}
h3 {
    font-family: "Fraunces", serif;
    font-size: 25px;

}
.three_block p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
.yellow_block,
.blue_block,
.pink_block {
    padding: 20px;
    width: 30%;
    gap: 20px;
    
    transition: transform .3s ease;
}

.yellow_block:hover {
    transform: scale(1.1);
    }

    .blue_block:hover {
        transform: scale(1.1);
    }
    
    .pink_block:hover {
 transform: scale(1.1);
    }
    
    /*--------BIG_CONTEINER-------*/
   .background_color {
    background-color:#F7F9FA ;
   }
   
    .Big_conteiner {
        max-width: 1130px;
        margin: 0 auto;
    }
   
    .title4 {
    }
    .information_with_images {
        display: flex;
        justify-content: space-between;

    }
    .information  {
      
    }
    .images_computer {
    }
    .info-item {
        display: flex;
       gap: 10px;
       align-items: center;
    
       
        
    }
    .images_computer img {
        width: 100%;
        height: auto;

    }
    
    .title4 h4{
        font-family: "Fraunces", serif;
        font-size: 42px;
        padding-top: 79px;
        margin-bottom: 30px;

        
        
    }

    .info-item p{
        font-family: "Fraunces", serif;
        font-size: 20px;
    }
    
    .about {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .place {
        width: 25%;
        
    }
    .place p {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        
    }
    .place h6 {
        font-family: "Fraunces", serif;
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 13px;
        
        
    }
    .about h5{
        font-family: "Fraunces", serif;
        font-size: 42px;
        margin: 0 auto;
    }

    .back_color {
        background-color: #0070A0;
        
    }

    .images_lamp img {
        width: 100%;
        height: auto;
    }
    .images_and_text {
        display: flex;
        justify-content: space-between;
        gap: 187px;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 96px;
    }
   
   .text_set p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 18px;
    margin-bottom: 18px;

   }
   
   
   
    .text_set h6 {
        font-family: "Fraunces", serif;
        font-size: 42px;
        color: #FFFFFF;
        margin: 0 auto;
    }
    .text_set ul{
        font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
    

    }
    .text_set a {
        font-family: "Open Sans", sans-serif;
        background-color: #0e4e67;
        color: #FFFFFF;
        text-decoration: none;
        padding: 6px 20px;
       
       

    }
  .text_set li {
    margin-top: 16px;
  }

  .conteiner_2 {
   max-width: 1130px;
   margin: 0 auto;
   
  }
  


  .text_4_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 68px;
    gap: 64px;
    margin-bottom: 120px;
  }
  .automated {
   width: 50%;
  }
  
  .automated h6 {
    font-family: "Fraunces", serif;
    font-size: 42px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 20px;
  }
  .automated p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
  }
  
  .text_block h6 {
    font-family: "Fraunces", serif;
    font-size: 25px;
    margin: 0 auto;
}

.text_block p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.get_smarted {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    padding-top: 80px;
}
.get_smarted h6 {
    font-family: "Fraunces", serif;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 0px;
  
    
    

}
.get_smarted a {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #0070A0;
}

.colors_block {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 32px;
    padding-bottom: 120px;
 

}

.three_colors p:first-of-type {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    background-color:#E6F7FF ;
    padding: 2px 12px;
    display: inline;
    color: #2C90C9;
    

}
.three_colors h6 {
    font-family: "Fraunces", serif;
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 11px;

}
.three_colors p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.three_colors img {
    margin-bottom: 25px;
    width: 100%;
    height: auto;
}

.conteiner_blue {
    max-width: 1130px;
    margin: 0 auto;
    background-color: #E6F7FF;
    padding-left: 64px;
    padding-bottom: 64px;
    margin-top: 80px;




}


.conteiner_blue h6 {
    font-family: "Fraunces", serif;
    font-size: 42px;
    padding-top: 64px;
    margin-bottom: 0px;



}
.conteiner_blue p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    
    margin-bottom: 20px;

    
}

.conteiner_blue a {
    font-family: "Open Sans", sans-serif;
    background-color: #0070A0;
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px 20px;
}

.days {
    display: flex;
    
}
.days img {
    padding-bottom: 20px;
}

.days p{
    margin-right: 32px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #626A72;

}
.free_credit {
   margin-top: 10px;

}


.conteiner_footer {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    margin-top: 127px;
    margin-bottom: 64px;
    
  
}



.info_admin ul {
    list-style: none;
    padding-left: 0;

}

.logo_img p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.logo_img a {
  text-decoration: none;
  color: #0070A0;
}

.info_admin h6 {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin: 0;
    font-weight: normal;
}
.info_admin a {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #626A72;
}

.Newsletter h6 { 
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin: 0;
    font-weight: normal;
}

.Newsletter p { 
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}
.Newsletter input { 
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.Newsletter button { 
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    border: none;
    padding: 2px 10px;
    background-color: #0070A0;
    color: #fff;
}



.networks_conteiner {
    max-width: 1130px;
    margin: 0 auto;
}


.networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.networks p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
   
    
}
 .img_networks img {
   margin-right: 10px;
 }
 .img_networks a {
    text-decoration: none;
}


/* -----------1200px ------------ */

@media (max-width: 1200px) {
    .conteiner,
    .block_content,
    .partners_block,
    .three_block,
    .Big_conteiner,
    .conteiner_2,
    .conteiner_blue,
    .conteiner_footer,
    .networks_conteiner {
      max-width: 970px;
    }
  }

  /* -------------------992px------------- */
 
@media (max-width: 992px) {
    .conteiner,
    .block_content,
    .partners_block,
    .three_block,
    .Big_conteiner,
    .conteiner_2,
    .conteiner_blue,
    .conteiner_footer,
    .networks_conteiner {
      max-width: 750px;
    }
  
    .text_information h1,
    .title4 h4,
    .about h5,
    .text_set h6,
    .automated h6,
    .get_smarted h6,
    .conteiner_blue h6 {
      font-size: 35px;
    }
  
    .text_set p,
    .automated p,
    .conteiner_blue p,
    .get_smarted a,
    .info_admin a {
      font-size: 15px;
    }
  
    .text_block h6,
    .three_colors h6 {
      font-size: 20px;
    }
  
    .text_set li,
    .text_set a {
      font-size: 16px;
    }
  
    .images_and_text {
      gap: 100px;
    }
  }

  /* -------------767px-------------- */

  @media (max-width: 767px) {
    .conteiner,
    .block_content,
    .partners_block,
    .three_block,
    .Big_conteiner,
    .conteiner_2,
    .conteiner_blue,
    .conteiner_footer,
    .networks_conteiner {
      max-width: 576px;
    }
  
    .images_partners {
      gap: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: max-content;
      margin: 0 auto;
      
    }
  
    nav a,
    .button a,
    #button_blue,
    .text_information button,
    .text_information a,
    .three_block p,
    .partners_block h2,
    .info-item p,
    .place p,
    .text_set p,
    .text_set li,
    .text_set a,
    .automated p,
    .text_block h6,
    .text_block p,
    .get_smarted a,
    .three_colors p,
    .three_colors p:first-of-type,
    .conteiner_blue p,
    .conteiner_blue a,
    .info_admin h6,
    .info_admin a,
    .Newsletter h6,
    .Newsletter p,
    .networks p,
    .Newsletter button {
      font-size: 12px;
    }
  
    .text_information h1 {
      font-size: 30px;
    }
  
    .text_information p {
      font-size: 15px;
    }
  
    #button_blue {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    header .logo_with_nav nav {
      gap: 15px;
    }
  
    .button {
      gap: 5px;
    }
  
    .text_information button {
      padding: 8px 20px;
    }
  
    .images_partners img {
      max-width: 100%;
      height: auto;
    }
  
    .three_block h3,
    .title4 h4,
    .about h5,
    .text_set h6,
    .automated h6,
    .get_smarted h6,
    .text_4_block,
    .conteiner_blue h6 {
      font-size: 25px;
    }
  
    .get_smarted {
      padding-top: 50px;
    }
  
    .text_4_block {
      margin-bottom: 60px;
      margin-top: 50px;
    }
  
    .colors_block {
      padding-bottom: 80px;
    }
  
    .conteiner_footer {
      margin-top: 60px;
    }
  
    .three_block {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  
    .about {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
  
  /* ---------------480px----------- */

  @media (max-width: 480px) {
    .conteiner,
    .block_content,
    .partners_block,
    .three_block,
    .Big_conteiner,
    .conteiner_2,
    .conteiner_blue,
    .conteiner_footer,
    .networks_conteiner {
      max-width: none;
      padding: 15px;
    }
  
    .block_content,
    .text_4_block,
    .three_block,
    .information_with_images,
    .about,
    .images_and_text,
    .colors_block {
      flex-direction: column;
    }
  
    .images_partners {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 150px;
    }
  
    .yellow_block,
    .blue_block,
    .pink_block,
    .place {
      width: 100%;
    }
  
    .title4 h4 {
      padding-top: 40px;
    }
  
    .three_block {
      margin-bottom: 0;
    }
  }

  /* --------------------610px--------------- */

  @media (max-width: 610px) {
    .conteiner,
    .block_content,
    .partners_block,
    .three_block,
    .Big_conteiner,
    .conteiner_2,
    .conteiner_blue,
    .conteiner_footer,
    .networks_conteiner {
      max-width: 450px;
    }

  }



/* Icon burger */
.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  /* При малих екранах */
  @media (max-width: 610px) {
    .burger {
      display: block;
    }
  
    .nav {
      display: none;
      flex-direction: column;
      background-color: #ebebeb;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 10px;
      z-index: 100;
    }
  
    .nav.active {
      display: flex;
    }
  }